.button-1-type-1 {
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    background-color: var(--color4);
    overflow: hidden;
    border-radius: 10px;
}
.button-1-type-1 p, .button-1-type-2 p {
    color: var(--color0);
}

.button-1-type-2 {
    display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    background-color: var(--color4);
    overflow: hidden;
    border-radius: 15px;
}