{% extends "main/main.html" %}
{% load custom_filters %}

{% block title %}CourseOT{% endblock title %}


{% block header %}
    <!--{% include "main/component/list/tags_list_1.html" %}
    {% include "main/component/list/tags_list_2.html" %}
    {% include "main/component/table/table_1_type_2.html" with text='English' icon_url=icons.language_icon %}
    {% for course in courses %}
        {% with medias=courses_media|get_item:course.id %}
            {% include "main/component/block/course.html" with title=course.title price=course.price medias=medias banner_id=course.content|get_item:'banner' %} 
        {% endwith %}
    {% endfor %}-->
    
    {% include "main/component/button/button_2_type_1.html" with href='home_page'|get_url icon_url=icons.back_to_course_icon %}
    {% include "main/component/table/table_2_type_1.html" with text='Coursgram' %}
    {% include "main/component/button/button_2_type_1.html" with href='home_page'|get_url icon_url=icons.menu_icon %}
{% endblock header %}


{% block content %}
    {% include "main/component/list/tags_list_1.html" with tags=tags selected_tags=selected_tags %}
    <div class="courses">
        {% for course in courses|tag_filter:selected_tags %}
            {% with medias=courses_media|get_item:course.id %}
                {% include "main/component/block/course.html" with course_id=course.id title=course.title price=course.price medias=medias banner_id=course.content|get_item:'banner' course_tags=course|get_object_db_param:'tag' courses_paid=user_courses_paid %} 
            {% endwith %}
        {% endfor %}
    </div>
{% endblock content %}


{% block footer %}
    <a href="{% url "logout" %}">LOGOUT</a>
{% endblock footer %}