{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "main/css/main_styles.css" %}">
    <link rel="stylesheet" href="{% static "main/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "main/css/main.css" %}">
    <link rel="stylesheet" href="{% static "main/css/component.css" %}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="head">
                {% block head %}{% endblock head %}
            </div>
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
            <div class="footer">
                {% block footer %}{% endblock footer %}
            </div>
        </div>
    </div>
</body>
</html>