{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "main/css/main_styles.css" %}">
    <link rel="stylesheet" href="{% static "main/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "main/css/main.css" %}">
    <link rel="stylesheet" href="{% static "main/css/component.css" %}">

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header">
                {% block header %}{% endblock header %}
            </header>
            <div class="content">
                {% block content %}{% endblock content %}
            </div>
            <footer class="footer">
                {% block footer %}{% endblock footer %}
            </footer>
        </div>
    </div>

    {% block body %}{% endblock body %}
</body>
</html>